.button {
	background-color: var(--color-black);
	color: var(--color-primary);
	cursor: pointer;
	border-radius: 12px;
	padding: 10px 16px;
	border: 1px solid var(--color-primary);
	font-weight: 600;
	font-family: "poppins";
}
