.card {
	position: relative;
	height: 350px;
	aspect-ratio: calc(1 / 1.45);
	/* width: 159px; */
	/* background-color: aqua; */
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.top-section {
	/* flex: 1; */
	/* background-color: teal; */
	/* height: 205px; */
	position: relative;
	height: 92%;
	background-color: var(--color-white);
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.chip-section {
	/* background-color: blue; */
	flex: 1;
	display: flex;
	align-items: center;
	padding-left: 10px;
}
.bottom-section {
	/* background-color: pink; */
	/* height: 21px; */
	position: relative;
	height: 6%;
}
